infrastructure/n8n-workflow.json
{
  "name": "Job Application Factory v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-job",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Application Counter\nconst fs = require('fs');\nconst counterFile = '/output/.counter.json';\n\nlet counter = { total: 0, remote: 0, local: 0 };\n\ntry {\n  const data = fs.readFileSync(counterFile, 'utf8');\n  counter = JSON.parse(data);\n} catch (e) {\n  // File doesn't exist, use defaults\n}\n\n// Increment\ncounter.total += 1;\n\n// Check if remote\nconst jobData = $input.all()[0].json.body;\nconst isRemote = /remote|work from home|wfh|anywhere/i.test(\n  jobData.title + ' ' + jobData.description\n);\n\nif (isRemote) {\n  counter.remote += 1;\n} else {\n  counter.local += 1;\n}\n\n// Save counter\nfs.writeFileSync(counterFile, JSON.stringify(counter, null, 2));\n\n// Pass data forward\nreturn [{\n  json: {\n    ...jobData,\n    application_number: counter.total,\n    is_remote: isRemote,\n    stats: counter,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "counter-node",
      "name": "Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Resume Strategist for IT careers. Generate a COMPLETE, PROFESSIONAL HTML RESUME.\\n\\nCANDIDATE:\\n- Name: Brandon Ruiz\\n- Phone: 775-530-8234\\n- Email: brandonlruiz98@gmail.com\\n- Location: Long Beach, CA\\n\\nEXPERIENCE:\\n1. LB Computer Help (Owner/IT Tech) Apr 2024-Present\\n   - Built MSP with 130+ clients, $50K revenue in 7 months\\n   - Key client Marina Shipyard: AD/Windows Server, FortiGate firewall, Veeam backups, on-prem mail\\n\\n2. Geeks-On-Site (IT Specialist) Jun-Oct 2021\\n   - On-site residential/SMB support\\n\\n3. Fusion Contact Centers (IT Support) Aug 2016-Aug 2017\\n   - Help desk, password resets, workstation support\\n\\nSKILLS: Windows 10/11, Windows Server, Active Directory, DNS, TCP/IP, Fortinet FortiGate, Veeam, Remote Support\\n\\nCURRENTLY LEARNING: AWS Cloud Fundamentals\\n\\nINSTRUCTIONS:\\n1. Read the job description\\n2. Identify top 5 matching keywords\\n3. Rewrite summary to emphasize those matches\\n4. Reframe 'business owner' as 'IT Administrator with full accountability'\\n5. Return ONLY clean HTML with inline CSS - no markdown, no code blocks, no explanation\\n6. Use professional styling: clean fonts, proper spacing, subtle colors\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"JOB DESCRIPTION:\\n{{ $json.description }}\\n\\nCOMPANY: {{ $json.company }}\\n\\nGenerate my tailored resume HTML now.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "resume-writer",
      "name": "Resume Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Cover Letter Strategist. Write compelling, human cover letters.\\n\\nCANDIDATE: Brandon Ruiz\\nLOCATION: Long Beach, CA\\nPHONE: 775-530-8234\\nEMAIL: brandonlruiz98@gmail.com\\n\\nBACKGROUND:\\n- Ran LB Computer Help MSP: 130+ clients, $50K revenue\\n- Marina Shipyard: AD, FortiGate, Veeam, Windows Server\\n- Studying for AWS certification\\n- Seeking stable full-time role, will support existing clients off-hours\\n\\nTHE HOOK: This application was generated by an autonomous job agent I built. Mention this naturally in the closing - it demonstrates my automation skills.\\n\\nSTYLE:\\n- Confident but not arrogant\\n- Show hunger to learn and grow\\n- Emphasize accountability from running a business\\n- Keep it to one page\\n\\nOUTPUT: Clean HTML with inline CSS. Professional letterhead style. No markdown, no code blocks.\"\n    },\n    {\n      \"role\": \"user\", \n      \"content\": \"JOB: {{ $json.description }}\\n\\nCOMPANY: {{ $json.company }}\\n\\nAPPLICATION NUMBER: {{ $json.application_number }}\\n\\nWrite my cover letter. Include a line like: 'Full transparency: This application was generated by an autonomous job agent I built. You are employer #{{ $json.application_number }}. I would welcome the chance to demonstrate both my IT skills and my automation capabilities.'\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "cover-writer",
      "name": "Cover Letter Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract HTML from DeepSeek response and prepare for Gotenberg\nconst resumeResponse = $('Resume Writer').first().json;\nconst coverResponse = $('Cover Letter Writer').first().json;\nconst jobData = $('Counter').first().json;\n\n// Extract content from API responses\nlet resumeHtml = resumeResponse.choices[0].message.content;\nlet coverHtml = coverResponse.choices[0].message.content;\n\n// Clean any markdown code blocks if present\nresumeHtml = resumeHtml.replace(/```html\\n?/gi, '').replace(/```\\n?/gi, '').trim();\ncoverHtml = coverHtml.replace(/```html\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n\n// Create safe filename\nconst company = jobData.company.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 50);\nconst timestamp = Date.now();\n\nreturn [\n  {\n    json: {\n      company: company,\n      timestamp: timestamp,\n      application_number: jobData.application_number,\n      is_remote: jobData.is_remote,\n      stats: jobData.stats,\n      job_url: jobData.url || '',\n      job_title: jobData.title || jobData.company\n    },\n    binary: {\n      resume: {\n        data: Buffer.from(resumeHtml).toString('base64'),\n        mimeType: 'text/html',\n        fileName: 'resume.html'\n      },\n      cover: {\n        data: Buffer.from(coverHtml).toString('base64'),\n        mimeType: 'text/html',\n        fileName: 'cover.html'\n      }\n    }\n  }\n];"
      },
      "id": "prepare-html",
      "name": "Prepare HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "resume"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "pdf-resume",
      "name": "PDF Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "cover"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "pdf-cover",
      "name": "PDF Cover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge PDF binaries and metadata\nconst metadata = $('Prepare HTML').first().json;\nconst resumePdf = $('PDF Resume').first().binary.data;\nconst coverPdf = $('PDF Cover').first().binary.data;\n\nreturn [{\n  json: metadata,\n  binary: {\n    resume_pdf: resumePdf,\n    cover_pdf: coverPdf\n  }\n}];"
      },
      "id": "merge-pdfs",
      "name": "Merge PDFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/output/{{ $json.company }}_{{ $json.application_number }}_Resume.pdf",
        "dataPropertyName": "resume_pdf"
      },
      "id": "save-resume",
      "name": "Save Resume",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/output/{{ $json.company }}_{{ $json.application_number }}_CoverLetter.pdf",
        "dataPropertyName": "cover_pdf"
      },
      "id": "save-cover",
      "name": "Save Cover",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Log application to CSV\nconst fs = require('fs');\nconst metadata = $('Merge PDFs').first().json;\n\nconst logFile = '/output/applications.csv';\nconst headers = 'timestamp,application_number,company,job_title,is_remote,job_url\\n';\n\n// Create file with headers if doesn't exist\nif (!fs.existsSync(logFile)) {\n  fs.writeFileSync(logFile, headers);\n}\n\n// Append row\nconst row = [\n  metadata.timestamp,\n  metadata.application_number,\n  metadata.company,\n  metadata.job_title,\n  metadata.is_remote,\n  metadata.job_url\n].join(',') + '\\n';\n\nfs.appendFileSync(logFile, row);\n\nreturn [{ json: { success: true, ...metadata } }];"
      },
      "id": "log-application",
      "name": "Log Application",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, application_number: $json.application_number, files: { resume: $json.company + '_' + $json.application_number + '_Resume.pdf', cover: $json.company + '_' + $json.application_number + '_CoverLetter.pdf' } }) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Counter", "type": "main", "index": 0 }]]
    },
    "Counter": {
      "main": [
        [
          { "node": "Resume Writer", "type": "main", "index": 0 },
          { "node": "Cover Letter Writer", "type": "main", "index": 0 }
        ]
      ]
    },
    "Resume Writer": {
      "main": [[{ "node": "Prepare HTML", "type": "main", "index": 0 }]]
    },
    "Cover Letter Writer": {
      "main": [[{ "node": "Prepare HTML", "type": "main", "index": 0 }]]
    },
    "Prepare HTML": {
      "main": [
        [
          { "node": "PDF Resume", "type": "main", "index": 0 },
          { "node": "PDF Cover", "type": "main", "index": 0 }
        ]
      ]
    },
    "PDF Resume": {
      "main": [[{ "node": "Merge PDFs", "type": "main", "index": 0 }]]
    },
    "PDF Cover": {
      "main": [[{ "node": "Merge PDFs", "type": "main", "index": 0 }]]
    },
    "Merge PDFs": {
      "main": [
        [
          { "node": "Save Resume", "type": "main", "index": 0 },
          { "node": "Save Cover", "type": "main", "index": 0 },
          { "node": "Log Application", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log Application": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
